<html>
<head>
<title>BadWolf</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1, maximum-scale=1">

{% stylesheets filter="compass"
"@ECWebsiteBundle/Resources/public/components/gumby/sass/gumby.scss" %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</head>
<body>
	<div class="row">
		<section class="four columns">
			<nav class="vertical-nav">
				<ul>
					<li class="active"><a href="#grid-fundamentals" class="skip"
						gumby-easing="easeOutQuad" gumby-duration="600"
						gumby-goto="[data-target='grid-fundamentals']">Grid Fundamentals</a>
					</li>

					<li><a href="#basic-grid" class="skip" gumby-easing="easeOutQuad"
						gumby-duration="600" gumby-goto="[data-target='basic-grid']">Basic
							Grid</a></li>

					<li><a href="#hybrid-grid" class="skip" gumby-easing="easeOutQuad"
						gumby-duration="600" gumby-goto="[data-target='hybrid-grid']">Hybrid
							Grid</a></li>

					<li><a href="#pushing-columns" class="skip"
						gumby-easing="easeOutQuad" gumby-duration="600"
						gumby-goto="[data-target='pushing-columns']">Pushing Columns</a></li>

					<li><a href="#centered-columns" class="skip"
						gumby-easing="easeOutQuad" gumby-duration="600"
						gumby-goto="[data-target='centered-columns']">Centered Columns</a>
					</li>

					<li><a href="#tiles" class="skip" gumby-easing="easeOutQuad"
						gumby-duration="600" gumby-goto="[data-target='tiles']">Tiles</a>
					</li>

					<li><a href="#nested-grids" class="skip" gumby-easing="easeOutQuad"
						gumby-duration="600" gumby-goto="[data-target='nested-grids']">Nested
							Grids</a></li>

					<li><a href="#semantic-grids" class="skip"
						gumby-easing="easeOutQuad" gumby-duration="600"
						gumby-goto="[data-target='semantic-grids']">Semantic Grids</a></li>

					<li><a href="#psd-templates" class="skip"
						gumby-easing="easeOutQuad" gumby-duration="600"
						gumby-goto="[data-target='psd-templates']">PSD Templates</a></li>

				</ul>
			</nav>
		</section>
		<section class="nine columns push_one">
			<div>
				<h2>Grid Fundamentals</h2>
				<p>Gumby Framework uses a container class to create a base padding.
					We also use row classes to create horizontal rows, define the
					page's max-width, and contain the various page columns. Column
					classes round out the bunch and create the final structure of the
					page. The magic of responsivity occurs because columns don't have a
					fixed width: they can vary based on the resolution of the screen,
					or the size of the window (try scaling down this window to see what
					we mean). This allows for your project to adapt to any viewport,
					any device, without separate stylesheets or html templates.</p>
			</div>
		</section>
	</div>
</body>
</html>